.footer {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  margin-top:  -80px;
  background-image: url('../rasm/footer-bgi.png');
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
}
.footer::before {
  position: absolute;
  left: 642px;
  top: 20px;
  width: 117px;
  height: 117px;
  display: block;
  background-image: url('../../rasm/ellipse.svg');
  background-repeat: no-repeat;
  content: " ";
}
.footer__footer-wrapper {
  margin-top: 140px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer__title {
  margin: 0;
  font-size: 45px;
  line-height: 63px;
}
.footer__footer-list {
  display: flex;
}
.footer__footer-item ~ .footer__footer-item {
  margin-left: 85px;
}
.footer__footer-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
}
.footer__footer-links {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}
.footer__footer-link ~ .footer__footer-link {
  margin-top: 11px;
}
.footer__footer-end {
  text-align: end;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer__item ~ .footer__item {
  margin-left: 32px;
}
.footer__end-title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
}
.footer__end-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
}
.footer__footer-headding {
  width: 410px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 111px;
  padding: 9px 21px 8px 20px;
  background-color: white;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
}